body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    margin-bottom: 0px;
}
.content{
    min-height: calc(100vh - 220px);
}
.bg-rounded{
    border-radius: 0.5rem;
}
.bg-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
.bg-md-image{
    min-height: 200px;
    @include bg-cover();
}
.bg-lg-image {
    min-height: 240px;
    @include bg-cover();
}
.bg-xl-image {
    min-height: 400px;
    @include bg-cover();
}

.cursor{
    cursor: pointer;
  }